<h1>Alle kurs</h1>
<p><%= link_to "Nytt kurs", new_camp_path%></p>

<table class="tablesorter" cellspacing="0" cellpadding="0">
	<thead>
	<tr>
		<th class="header">Navn</th>
		<th class="header">Offentlig</th>
		<th class="header">Påmeldinger</th>
		<th class="header">Antall deltagere</th>
	    <th class="header">Beskrivelse</th>
	    <th class="header">Alder</th>
	    <th class="header">Begynner</th>
	    <th class="header">Slutter</th>
		<th></th>
	</tr>
	</thead>
<tbody>
	<% @camps.each do |camp| %>
	<tr id="<%=camp.id %>">
	<% if params[:id] == camp.id.to_s%>
	<tr id="<%= params[:id] %>" style="background:#999999">
  		<% end %>

	    <td><%=h camp.name %></td>
	    <% if camp.public == false %>
	    	    <td>nei</td>
	    	 <% else %>
	    	   <td>ja</td>
	    	   <% end %>
		<td><%=h camp.registrations.count %></td>
		<td><%=h camp.participants %></td>
	    <td><%=h truncate(h(camp.description), :length => 35)%></td>
	    <td><%=h camp.age1 %> - <%=h camp.age2 %> år</td>
	    <td><%=h camp.begin.strftime('%d.%m.%Y')%></td>
	    <td><%=h camp.end.strftime('%d.%m.%Y') %></td>
	    <td>
	    	<%= link_to 'Vis', camp_path(camp) %>
	    	<%= link_to 'Oppdater', edit_camp_path(camp) %>
	   	</td>
  	</tr>

<% end %>
	<tbody>
</table>
