  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-12099899-1', 'auto');
  ga('send', 'pageview');

</script>
<% @page_title = "Påmeldingen er registret" %>
<div class="thanks">
<div class="thanks_bk_color">
<div class='left'>
<%= link_to "Tilbake", root_path %>
<h2>Tusen takk for påmeldingen!</h2>
	<p>Vi sender snart ut en faktura. Nå den er betalt er plassen din. Dersom det ikke er plass på kurset tar vi kontakt.</p>
		Navn: <%=h @registration.name %> <br/>
		Alder: <%=h @registration.age %><br/>
			<% if @registration.camp.age1 < 18 %>
				Foresatt navn: <%=h @registration.parent_one_name %><br/>
				Foresatt telefon: <%=h @registration.parent_one_phone %><br/>
				2.foresatt navn: <%=h @registration.parent_two_name %><br/>
				2.foresatt telefon: <%=h @registration.parent_two_phone %><br/>
			<% else %>
				Telefon: <%=h @registration.parent_one_phone %><br/>
			<% end %>
		Faktura epost: <%=h @registration.billing_email %><br/>
		Fortell om deg selv: <%=h @registration.tell %><br/>
 		Medisinsk informasjon: <%=h @registration.medical %>	<br/>
<p>Vi tar kontakt og gir mer informasjon.</p>
<p>Vi gleder oss til å treffe deg!</p>
</div>
<div class='right'>

</div>


</div>
</div>
