<% @page_title = "Nyheter"%>
<%= render "nav" %>
<div id="blogg_l">
	<%= link_to "Vis alle", view_blogg_path, :style => "float:right;"%>
	<h1><%= @post.title %></h1>
		Av: <%= @post.author.full_name %>, <em><%= @post.created_at.strftime("%d. %B %Y") %>.</em>
	<p><b><%= raw(@post.lead) %></b></p>
	<p><%= raw(@post.content) %></p>
</div>
<div id="content_r">
	<%= render :partial => "shared/links" %>
</div>
