
<%= form_for(@page, :html => { :multipart => true }) do |f| %>
 <%= render "shared/error_message", :target => @page %>

    <ul class="form_layout_adm_l">
    <li><label>&nbsp;</label><%= f.submit "Lagre",:class => 'submit' %></li>
	<li><%= f.label :navn %></li>
    <li><%= f.text_field :name, :size => 80, :style => "font-size: 1.5em"%></li>
	<li><%= f.label :tittel %></li>
	<li><%= f.text_field :title %></li>



	<li><%= f.label :Link_til_denne_siden %></li>
	<li><%= f.text_field :navlabel  %></li>
  <li><%= f.label :innhold %></li>
	<li><%= f.text_area :body, style: "height: 400px"%></li>

	<li><label>&nbsp;</label><%= f.submit "Lagre",:class => 'submit' %></li></ul>
<% end %>
