<div id=content_l>
			<p style="color: green"><%= flash[:notice] %></p>
		<ul class="form_layout_adm_l">
		<%= form_for(@post) do |f| -%>

		<li><label>&nbsp;</label><%= f.submit "Lagre",:class => 'submit' %></li>
        <li><%= f.label :Overskrift %></li>
		<li><%= f.text_field :title%></li>
			<li><%= label_tag 'Bilde' %>
		<%= f.file_field :image %></li>
		<li><%= f.label :Ingress %></li>
		<li><%= f.text_area :lead%></li>
		<li><%= f.label :front %></li>
		<li><%= f.check_box :front %></li>
		<li><%= f.label :farge %></li>
		<li><%= f.text_field :color%></li>
		<li><%= f.rich_text_area :ingress2%></li>
        <li><%= f.label :Innhold %></li>
   		<li><%= f.text_area :content%></li>
   		<li><%= f.rich_text_area :content2 %></li>
		<li><label>&nbsp;</label><%= f.submit "Lagre",:class => 'submit' %></li>
        </ul>

  </div>
 <div id=content_r>

	<ul class="form_layout_adm_r">


	<h2><%= f.label :status %></h2>
		<li><%= f.select(:status, ['Kladd', 'Offentlig'])%></li>

</ul>

<% end %>
</div>
