<h1>Produkter|<%= link_to 'Nytt produkt', new_product_path %></h1>
<form>
    <input type="text" id="search">
</form>
<table class="tablesorter" cellspacing="0" cellpadding="0">
	<thead>
<tr>

<th class="header">Beskrivelse</th>
<th class="header">Pris ink mva</th>
<th class="header">Moms prosent</th>
<th class="header">Pris eks mva</th>
</tr>
</thead>
<tbody>
<% @products.each do |product| %>
<tr>
	 <td><%= product.description %></td>
    <td><%= product.total_price %></td>
    <td><%= product.vat %></td>
    <td><%= number_to_currency(product.eks_vat) %></td>
    <td><%= link_to 'Vis', product %> <%= link_to 'Rediger', edit_product_path(product) %> <%= link_to 'Slett', product, :confirm => 'Er du sikker?', :method => :delete %></td>
  </tr>
<% end %>
<tbody>
</table>
