<% @page_title = "Kurs"%>
	<div id='content'>
		<div class="camp_list">
	<% @camps.each do |camp| %>
  <div class="camp_enty">
		<div class="camp_col_1 camp_holder">
				<%  if camp.cover_image.attached? %>
				<%= image_tag camp.cover_image.variant(:medium) %>
				<% end %>
		</div>
		<div class="camp_col_2 camp_holder">
				<h1><%= link_to(camp.name, view_camp_path(camp)) %></h1>
				<p><%= camp.ingress2 %></p>
		</div>
		<div class="camp_col_3 camp_holder">
				<p>Pris <%= number_to_currency(camp.products.sum(:total_price), unit: "Kroner", format: "%n %u", precision: 0, delimiter: " ") %></p>
				<p>Alder <%=h camp.age1 %> - <%=h camp.age2 %></p>
				<p><%=h camp.begin.strftime('%d.%m.%Y') %> -
				<%=h camp.end.strftime('%d.%m.%Y') %></p>
					<div class='meld_deg_pa'>
					<% if camp.registrations.count < camp.participants %>
								<%= link_to("Meld deg på", new_registration_path(:id => camp) )%>
							<% else %>
					 				Fullt <%= link_to("Sett deg på venteliste", new_registration_path(:id => camp) )%>
							<%end%>
					</div>
		</div>
	</div>
<% end %>
</div>
</div>
