<% @page_title = "Kurs"%>

<div id="section4">

<div class="left_camps camps_bk">

<ul>
	<% @camps.each do |camp| %>
  <li>  <h1><%= link_to(camp.name, view_camp_path(camp)) %></h1>
    	<p><%= raw(camp.description)%></p>
  		<p>Pris: <%= number_to_currency(camp.products.sum(:total_price)) %></p>
    	<p>Alder: <%=h camp.age1 %> - <%=h camp.age2 %></p>
      <p><%=h camp.begin.strftime('%d.%m.%Y') %> -
      <%=h camp.end.strftime('%d.%m.%Y') %></p>
  		<p><% if camp.registrations.count < camp.participants %>
  			      <%= link_to("Meld deg på", new_registration_path(:id => camp) )%>
  			   	<% else %>
  			 Fult <%= link_to("Sett deg på venteliste", new_registration_path(:id => camp) )%>
  			  	<%end%></p></li>
<% end %>
</ul>


</div>
</div>
