<div id="fullpage">
	<div id="content_index">
	<div class="section" id="section1" data-anchor="<%= @page1.title %>">
	 	<%= raw(@page1.body) %>
	</div>
	<div class="section folk" id="section2" >
<h1 class="front">FOLKA VÅRE</h1>
<div class="scroller_holder">
	<div class="scroller">
		<% @people.each do |person| %>
		<div class="person_presenter">
			<div>
			<p><%= image_tag person.avatar.variant(:medium2) %></p>
			<h2><%= person.name %></h2>
			</div>
		</div>
		<% end %>
	</div>

</div>



	<div class="section" id="section3" data-anchor="<%= @page2.title %>">
		<%= raw(@page2.body) %>
	</div>
	<div class="section" id="section4" data-anchor="<%= @page3.title %>">
		<%= raw(@page3.body) %>
	</div>
	</div>
</div>
