<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<script src="https://use.typekit.net/wbb7cyk.js"></script>
	<%= csrf_meta_tag %>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="title" content="<%= @app_name %>: <%= @page_title %>"/>
  <meta name="keywords" content="<%= @meta_key %>" />
  <meta name="description" content="<%= @meta_des %>" />
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

  <title><%= @app_name %>: <%= @page_title %></title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" media="screen" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag "application" %>
 <%=  javascript_importmap_tags "application" %>
 <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16993262544"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-16993262544');
</script>


 <!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1008245049823257');
fbq('track', 'PageView');
</script>
<noscript>
  <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1008245049823257&ev=PageView&noscript=1"/>
</noscript>
<!-- End Meta Pixel Code -->

</head>
<body>
  <ul id="menu">
    <li data-menuanchor="teatercamp"
      <% if current_page?(controller: 'public', action: 'index') %>
        class="active"
      <% end %>
    >
      <a href="<%= root_url %>">TEATER|CAMP</a></li>
  	<li data-menuanchor="kurs"
      <% if current_page?(controller: 'public', action: 'camps'   )%>
      class="active"
      <% end %>
      >
        <a href="<%= view_camps_path %>">KURS</a>
    </li>
  	<li data-menuanchor="news"
    <% if current_page?(controller: 'public', action: 'blogg') %>
    class="active"
    <% end %>
    >
      <a href="<%= view_blogg_path %>">NYHETER</a></li>
      <%if logged_in?%>
      <%= link_to "Logg ut","/logout" %>
      <%= link_to( "Til CMS", cms_path) %>
      <%end%>
  </ul>
  <%= yield %>
  <% if cookies[:allow_cookies].blank? %>
  <%= render 'layouts/cookies_bar' %>
<% end %>
  <div class="footer">
  	<div id="footer_wrapper">&#169; Teater|camp - t. 92056833 m. info@teatercamp.no</div>
  </div>
</body>
</html>
